/* all styles will go here 
we can use multi part files and import them here too.

*/
@import './Header.css';

* {
  margin: 0;
  padding: 0;
}
.container {
  width: 900px;
}
/* Home Page Css */
.home__content {
  width: 100vw;
  display: grid;
  place-items: center;
  padding: 20px 0 0;
}
/* Detail Page Css */
.detail {
  width: 100vw;
  display: grid;
  place-items: center;
  padding-top: 20px;
}
