.navber-modal {
  width: 100% !important;
  height: 100vh;
  top: 0;
  padding: 0;
  max-width: 100%;

  .ant-modal-content {
    height: 100%;
  }
}

.tree-menu {
  .ant-menu-inline {
    border-right: none;
  }
  .ant-menu-item {
    background: #fff;
    margin: 0 !important;
  }
  .ant-menu-submenu-title {
    background: #fff;
    margin: 0 !important;
  }
}

@include responsive(319.5px, 575.5px) {
  .ant-modal.navber-modal {
    margin: 0;
  }
  .ant-modal-content {
    height: auto !important;
  }
}

@include responsive(576.5px, 768.5px) {
  .ant-modal-content {
    height: auto !important;
  }
}

@include responsive(769px, 992.5px) {
  .ant-modal-content {
    height: auto !important;
  }
}
